.container {
    max-width: 960px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-rows: repeat(11,1fr);
    gap: 5px;
}

.grid__row:first-child {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 0 2px;
}
.grid__row:nth-child(2){
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 0 2px;
}
.grid__row:nth-child(3){
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0 2px;
}
.grid__row:nth-child(4){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0 2px;
}
.grid__row:nth-child(5){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0 2px;
}
.grid__row:nth-child(6){
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 0 2px;
}
.grid__row:nth-child(7){
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 0 2px;
}
.grid__row:nth-child(8){
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 0 2px;
}
.grid__row:nth-child(9){
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: 0 2px;
}
.grid__row:nth-child(10){
    display: grid;
    grid-template-columns: 1fr 11fr;
    gap: 0 2px;
}
.grid__row:last-child{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 2px;
}

.grid-row__column {
    background-color: rgb(237, 84, 79);
    text-align: right;
    color: white;
    padding: 21px 20px;
    border-radius: 3px;
}



